<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Your password has been set</p>
</body>
</html>
def admin_aproval(request):
	print("Req Data=> ",request.POST) 

	# dic={}
	q=Approved_users.objects.filter(admin_status="Not Approved")

	# dic["aprval"]=False
	idi=request.POST.get('id')
	print(idi)
	# q=Registration.objects.filter(id=request.POST['id'])
	# for i in q:
	if Approved_users.objects.filter(id=idi).update(admin_status="Approved"):
	# if(q):
		return render(request,'admin_index.html',{"msg":q})
	else:
	
