<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>Forgot Password</h3>
<form method="POST" action="forgot">
	<input type="text" name="pswdreset">
	{% csrf_token %}
	{{ form.as_p}}
	<button type="submit">submit</button>
</form>
<div>
	{% for m in messages %}
	<h2>{{m}}</h2>
	{% endfor %}
</div>
</body>
</html> -->



<!DOCTYPE html>
<html>
<head>
  <title>login form</title>
  <link rel="stylesheet" type="text/css" href="static/css/style1.css">
  <style type="text/css">
    
/* BASIC */



  </style>
  <link rel="stylesheet" type="text/css" href="style.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<!-- <body style="background-image:url(models/bow-box-card-1471686.jpg)" > -->
 <body style="background-image: url('static/images/img_bg_2.jpg');">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <h2>Login</h2> -->
    </lg>
<br><br>
	<h5>Reset Password</h5><br><br>

	<form method="POST" action="change_passwrd">
		<input type="text" name="pswdreset" id="login" class="fadeIn second" placeholder="New Password"><br><br>
		{% csrf_token %}
		{{ form.as_p}}
		<button type="submit" class="btn btn-primary" name="btnSub">submit</button><br><br><br>
	</form>
	<div>
		<!-- {% for m in messages %}
		 <div style="color: red"><h6>{{m}}</h6></div>

		{% endfor %} -->
  <div align="center"><a href="http://127.0.0.1:8000/user_homeurl">Back Home</a></div>

	</div>


	</div>
</div>
</div>
</body>
</html>
