<!DOCTYPE html>
<html>
<head>
  <title>login form</title>
  <link rel="stylesheet" type="text/css" href="static/css/style1.css">
  <style type="text/css">
    
/* BASIC */


  </style>
  <link rel="stylesheet" type="text/css" href="style.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<!-- <body style="background-image:url(models/bow-box-card-1471686.jpg)" > -->
 <body style="background-image: url('static/images/img_bg_2.jpg');">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2>Login</h2>
    </lg

    <!-- Login Form -->
    <form method="POST" action="lgin">{% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="logmail" placeholder="E-Mail">
      <input type="password" id="password" class="fadeIn third" name="txtpswd" placeholder="Password">
      <input type="submit" class="fadeIn fourth" name="btnSub" value="Login"><br>
      <div style="color: red">{{msg}}</div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="http://127.0.0.1:8000/password_reset">forgot password?</a></br></br>
      <a class="underlineHover" href="http://127.0.0.1:8000/">Back Home</a>

    </div>

  </div>
</div>
</body>
</html>
